{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
{% endblock %}

{% block content %}
<div id="display-container">
    <div id="display-content">
        <div id="initial-loading" style="display: flex; align-items: center; justify-content: center; height: 100%; color: white; font-size: 2rem;">
            Loading quiz...
        </div>
    </div>
    <div id="room-code-display">{{ room_code }}</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.roomCode = '{{ room_code }}';
</script>
<script src="{{ url_for('static', filename='js/background-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/element-types.js') }}"></script>
<script src="{{ url_for('static', filename='js/avatar-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/quiz-structure.js') }}"></script>
<script src="{{ url_for('static', filename='js/counter-manager.js') }}"></script>
<script src="{{ url_for('static', filename='js/media-control-manager.js') }}"></script>
<script src="{{ url_for('static', filename='js/runtime-element-renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/display.js') }}"></script>
{% endblock %}

