{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/participant.css') }}">
{% endblock %}

{% block content %}
<div id="participant-container">
    <div id="participant-header">
        <div id="participant-avatar"></div>
        <div id="participant-name"></div>
    </div>
    <div id="participant-content"></div>
    <div id="participant-score">Score: 0</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.roomCode = '{{ room_code }}';
    window.participantId = sessionStorage.getItem('participant_id');
</script>
<script src="{{ url_for('static', filename='js/background-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/avatar-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/text/participant_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/radio/participant_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/checkbox/participant_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/stopwatch/participant_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/question-types/image_click/participant_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/quiz-structure.js') }}"></script>
<script src="{{ url_for('static', filename='js/runtime-element-renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/participant.js') }}"></script>
{% endblock %}

